body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;	
}
header {
		background-color: #b3050f;
		max-height: 100px;
		max-width: 1600px;
	}
.navBar { 
	      display: inline-block;
	      text-decoration: none;         
}
.mainNav li {
		              display: inline-block;
		              margin: auto;
		              padding: 25px 25px 25px 25px;
		              border: 0;
		          }
.mainNav a {
	text-decoration: none;
	color: white;
}
a:hover {
	font-weight: bold;


}
h1 {
	color: #b3050f;
	position: absolute;
	margin-top: 5px;
}	
.secondheader {
			height:65px;
			border:10px;


}

.button  {
	height: 65px;
	width: 235px;
	background-color: #b3050f;
	border-radius: 15px;
	float: right;
	margin-top: 5px;
	color: white;
	text-decoration: none;	

}
ul {
	list-style: none;
}	  
ul a {
	text-decoration: none;
} 

.products {
	position: relative;
}
.equipment {


}

		              
		         

		              

